extends layout

block content
  h1 설문지 작성 페이지입니다.
  hr
  label(for='title') 질문
  br
  input(name='title')
  hr
  label(for='content') 답변
  br
  button.short(value='shorttext' onclick='short();')단일문장
  button.long(value='longtext' onclick='long();')장문 및 의견
  button.single(value='singleselect' onclick='single();')단일선택
  button.multi(value='multiselect' onclick='multi();')다중선택
  br
  p
  br
  br
  input.single(type='radio', value='a' id='single')
  input.single(type='text', value='a' id='single')
  button.addsingle(value='addsingle' onclick='addsingle();')추가
  br
  input.single(type='radio',value='b' id='single')
  input.single(type='text', value='b' id='single')
  br
  input.single(type='radio', value='c' id='single')
  input.single(type='text', value='c' id='single')
  br
  input.multi(type='checkbox',value='check1' id='multi')
  input.multi(type='text', value='check1' id='multi')
  button.addmulti(value='addmulti')추가
  br
  input.multi(type='checkbox',value='check2' id='multi')
  input.multi(type='text', value='check2' id='multi')
  br
  input.multi(type='checkbox',value='check2' id='multi')
  input.multi(type='text', value='check3' id='multi')
  hr
  a(href='javascript:window.history.back();') 뒤로 
  br
  br
  input(type='submit' value="작성")
script(id='short' type='text')
input.short(type='text', value='short' id='short')
script(id='long' type='textarea')
input.long(type='textarea', value='long' cols='50', rows='10' id='long')  
  
