extends layout

block content
  h1 설문지 확인 페이지입니다.
  table
    tr
      th 작성자
      th 설문지
      th 조회수
      th 작성일
  br
  hr
  a(href='/screate') 글작성
  br
  br    
  a(href='javascript:window.history.back();') 뒤로  
